body {
	margin: 0px;
	text-align: center;
	font-size: 20px;
	color: #40514e;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

.top-container{
	background-color: #e0ebe8;
	padding-top: 100px;
	position: relative;
}

.middle-container {

}

.bottom-container {
	margin: auto;
	
}

/* text styling */

h1{
	color: #66bfbf;
	margin: 0 auto 0 auto;
	margin-top: 50px;
	font-family: 'Sacramento', cursive ;
	font-size: 6em;
	font-weight: 400;
	line-height: 2;
}

h2 {
	color: #66bfbf;
	font-family: 'Montserrat', sans-serif;
}

h3 {
	font-size: 30px;
	color: #11999e;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}

.programmer {
	margin-bottom: 40px;
	color: #2CD3BC;
	font-family: 'Merriweather', serif;
	font-size: 2rem;
	margin-top: 0;
}

.pro {
	color: #4ab19a;
	font-family: 'Merriweather', serif;
	font-weight: 700;
}

.skill-text {
	font-family: 'Merriweather', serif;
	font-size: 30px;
}

.your-boy {
	font-size: 35px;
	margin-top: 100px;
    margin-bottom: 70px;
}

.touch-me {
	margin-top: 60px;
	margin-bottom: 30px;
}

.footer-p {
	margin-top: 70px;
	font-size: 25px;
}

.copy-right {
	color: white;

}
/* text styling */


/* main land */

.land {
	padding-bottom: 0px ;
}

/* main land */


/* clouds */
.top-cloud{
	position: absolute;
	right: 300px;
	top: 50px;
	height: 150px;
	width: 150px;
}

.bottom-cloud {
	position: absolute;
	left: 300px;
	top: 200px;
	height: 150px;
	width: 150px;
}

.top-west-cloud {
	position: absolute;
	height: 150px;
	width: 150px;
	right: 100px;
	bottom: 150px;
}

.bottom-east-cloud {
	position: absolute;
	height: 150px;
	width: 150px;
	bottom: 50px;
	left: 80px;
}
/* clouds */


/* icons */
.pfp {
	margin-top: 20px;
	height: 200px;
	width: 200px;
	float: left;
	padding-right: 35px;
	margin-right: 20px;
}

/* icons */

/* skill */

.skill-row {
	position: relative;
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;
	line-height: 2;
}

.comp {
	padding-right: 30px;
	float: left;
	width: 25%;
	position: relative;
	right: 20px;
}

.art {
	padding-left: 30px;
	float: right;
	width: 25%;
	position: relative;
	left: 30px;
}

.skill-row .new {
	text-align: right;
}

.skill-row .new-dis {
	clear: right;
}

.profile {
	position: relative;
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;
	line-height: 2;

}
/* skill row */

/* hr */
.dots {
	border-style: none;
	border-top-style: dotted;
	border-width: 10px;
	border-color: #c7e7e7;
	width: 10%;
}

.space {
	margin-top: 0px;
	margin-bottom: 40px;
	border-width: 0px;
}
/* hr */

.sup {
	font-size: 40px;
}

/* bottom contianer */
.bottom-container {
	background-color: #66bfbf;
	margin-bottom: 0px;
	margin-top: 40px;
	height: 140px;
	width: 100%;
}

.footer-link {
	text-decoration: none;
	font-size: 30px;
	padding-left: 30px;
	color: white;
}

.footer-link {

}

/* button */
.btn {

   background: #00FFFF;
   background-image: -webkit-linear-gradient(top, #00FFFF, #66BFBF);
   background-image: -moz-linear-gradient(top, #00FFFF, #66BFBF);
   background-image: -ms-linear-gradient(top, #00FFFF, #66BFBF);
   background-image: -o-linear-gradient(top, #00FFFF, #66BFBF);
   background-image: -webkit-gradient(to bottom, #00FFFF, #66BFBF);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Brush Script MT;
   font-size: 30px;
   font-weight: 100;
   padding: 0px, 39px, 0px, 39px;
   text-shadow: 1px 1px 6px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   width: 200px;
   height: 55px;
   margin-bottom: 20px;
   margin-top: 30px;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #00FFFF;
   background-image: -webkit-linear-gradient(top, #00FFFF, #16A8A8);
   background-image: -moz-linear-gradient(top, #00FFFF, #16A8A8);
   background-image: -ms-linear-gradient(top, #00FFFF, #16A8A8);
   background-image: -o-linear-gradient(top, #00FFFF, #16A8A8);
   background-image: -webkit-gradient(to bottom, #00FFFF, #16A8A8);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;

}